venv/
parsed_content/
.vscode/
dj_env/*
__pycache__/
.idea/
develop_mode_flag_file
parser_app/logic/proxy_tools/store/
parser_app/logic/auto_detected_urls/
*.pyc
.DS_Store
tor_browser_folder/
!tor_broser_folder/README.md
tor_test_screenshots/
parser_app/logic/gks_store/
parsed_content/
parser_app/logic/tor_service_settings.json
