appdirs==1.4.3
beautifulsoup4==4.7.1
certifi==2018.1.18
chardet==3.0.4
dj-database-url==0.5.0
Django==1.10.6
django-heroku==0.3.1
docutils==0.13.1
fake-useragent==0.1.11
future==0.17.1
gunicorn==19.9.0
idna==2.6
lxml==4.9.1
packaging==16.8
pipenv==11.8.0
psycopg2==2.7.7
Pygments==2.2.0
pyowm==2.8.0
pyparsing==2.2.0
pyTelegramBotAPI==3.6.1
python-dateutil==2.8.0
python-telegram-bot==7.0.1
pytz==2018.9
requests==2.13.0
selenium==3.141.0
six==1.10.0
soupsieve==1.8
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.3.0
whitenoise==4.1.2
