

<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Test</a>
      <ul class="right hide-on-med-and-down">
          <li class="{% block nav_index %}{% endblock %}"><a href="/">Домашняя страница</a></li>
          <li class="{% block nav_mean_prices %}{% endblock %}"><a href="/mean_prices/">Средние цены</a></li>
          <li class="{% block nav_dynamics %}{% endblock %}"><a href="/dynamics/">Динамика цен</a></li>
          <li class="{% block nav_cp %}{% endblock %}"><a href="/cp/">Контрольная панель</a></li>
      </ul>
<!--      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>-->
    </div>
</nav>
